WindowsFormsApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryTP1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WebAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_WebAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WebSoustraction_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSoustraction" />
  </wsdl:message>
  <wsdl:message name="IService1_WebSoustraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSoustractionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WebMultiply_InputMessage">
    <wsdl:part name="parameters" element="tns:WebMultiply" />
  </wsdl:message>
  <wsdl:message name="IService1_WebMultiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebMultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WebDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:WebDivision" />
  </wsdl:message>
  <wsdl:message name="IService1_WebDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebDivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WebAdd" message="tns:IService1_WebAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WebAddResponse" message="tns:IService1_WebAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSoustraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WebSoustraction" message="tns:IService1_WebSoustraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WebSoustractionResponse" message="tns:IService1_WebSoustraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebMultiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WebMultiply" message="tns:IService1_WebMultiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WebMultiplyResponse" message="tns:IService1_WebMultiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WebDivision" message="tns:IService1_WebDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WebDivisionResponse" message="tns:IService1_WebDivision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/WebAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSoustraction">
      <soap:operation soapAction="http://tempuri.org/IService1/WebSoustraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMultiply">
      <soap:operation soapAction="http://tempuri.org/IService1/WebMultiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebDivision">
      <soap:operation soapAction="http://tempuri.org/IService1/WebDivision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryTP1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>